## Data Cleaning and preparation for modelling

In [32]:
#importing necessary libaries

import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [33]:
#loading the dataset

car_price = pd.read_csv("dataset/data.csv")

#displaying top 5 and bottom 5 rows

car_price.head()
car_price.tail()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [34]:
#checking the datatypes in the dataset

car_price.dtypes

Make                  object
Model                 object
Year                   int64
Engine Fuel Type      object
Engine HP            float64
Engine Cylinders     float64
Transmission Type     object
Driven_Wheels         object
Number of Doors      float64
Market Category       object
Vehicle Size          object
Vehicle Style         object
highway MPG            int64
city mpg               int64
Popularity             int64
MSRP                   int64
dtype: object

In [35]:
#checking for irrelevant columns
car_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [36]:
#dropping irrelevant columns 

car_price = car_price.drop(["Engine Fuel Type", "Market Category", "Vehicle Style", "Popularity", "Number of Doors", "Vehicle Size"], axis = 1)
car_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine HP          11845 non-null  float64
 4   Engine Cylinders   11884 non-null  float64
 5   Transmission Type  11914 non-null  object
 6   Driven_Wheels      11914 non-null  object
 7   highway MPG        11914 non-null  int64
 8   city mpg           11914 non-null  int64
 9   MSRP               11914 non-null  int64
dtypes: float64(2), int64(4), object(4)
memory usage: 930.9+ KB

In [38]:
#Renaming Columns

car_price = car_price.rename(columns = {"Engine HP":"HP", "Engine Cylinders":"Cylinders", "Transmission Type": "Transmission",
                             "Driven Wheels":"Drive Mode", "Highway MPG":"MPG-H", "City mpg":"MPG-C", "MSRP":"Price"})
car_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           11914 non-null  object
 1   Model          11914 non-null  object
 2   Year           11914 non-null  int64
 3   HP             11845 non-null  float64
 4   Cylinders      11884 non-null  float64
 5   Transmission   11914 non-null  object
 6   Driven_Wheels  11914 non-null  object
 7   highway MPG    11914 non-null  int64
 8   city mpg       11914 non-null  int64
 9   Price          11914 non-null  int64
dtypes: float64(2), int64(4), object(4)
memory usage: 930.9+ KB

In [42]:
#Droppping Dupplicate rows

car_price.shape
car_price.count()

Make             11914
Model            11914
Year             11914
HP               11845
Cylinders        11884
Transmission     11914
Driven_Wheels    11914
highway MPG      11914
city mpg         11914
Price            11914
dtype: int64

In [41]:
#Finding the number of duplicated data
car_price.duplicated().sum()

np.int64(989)

In [44]:
#Dropping duplicated data
car_price = car_price.drop_duplicates()
car_price.count()

Make             10925
Model            10925
Year             10925
HP               10856
Cylinders        10895
Transmission     10925
Driven_Wheels    10925
highway MPG      10925
city mpg         10925
Price            10925
dtype: int64

In [46]:
#checking for missing values

car_price.isnull().sum()

Make              0
Model             0
Year              0
HP               69
Cylinders        30
Transmission      0
Driven_Wheels     0
highway MPG       0
city mpg          0
Price             0
dtype: int64

In [47]:
#only a few null values so they will be dropped 

car_price = car_price.dropna()
car_price.isnull().sum()

Make             0
Model            0
Year             0
HP               0
Cylinders        0
Transmission     0
Driven_Wheels    0
highway MPG      0
city mpg         0
Price            0
dtype: int64